<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:if="${ not#lists.isEmpty(cars)}">
    <table>
        <tr>
            <th>Model</th>
            <th>Series</th>
            <th>Age</th>
        </tr>
        <tr th:each="cars : ${cars}">
            <td th:text="${cars.model}"></td>
            <td th:text="${cars.series}"></td>
            <td th:text="${cars.age}"></td>
        </tr>
        <table>
</div>
</body>
</html>