<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:if="${ not#lists.isEmpty(users)}">
    <table>
        <tr>
            <th>Name</th>
            <th>Surname</th>
        </tr>
        <tr th:each="users : ${users}">
            <td th:text="${users.name}"></td>
            <td th:text="${users.surname}"></td>
        </tr>
        </table>
</div>
</body>
</html>